body {
    top: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Abril Fatface', cursive;
    overflow-x: hidden;

}

#screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#gridContainer{
    top: 50%;
    display: grid;
    padding: 0px;
    margin: auto;
    width: 95vh;
    height: 200vh;
    background-color: black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

#gridContainer div:not(#plato) {
    border: 1px solid rgb(0, 0, 0);
    padding: 5%;
}

.boxBlack {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 2.5vh;
    transition: background-color 500ms ease;
}

.boxBlack:hover {
    background-color: white;
    color: black;
    transition: background-color 500ms ease;
}

.boxWhite {
    border: 1px solid black;
    background-color: white;
    color: black;
    transition: background-color 500ms ease;
}

.boxWhite:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#blockB1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    color: white;
    font-size: 7vh;
    transition: background-color 500ms ease;
}

#blockB1:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#blockW1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: white;
    transition: background-color 500ms ease;
    font-size: 4vh;
    
}

#blockW1:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}

#blockW1:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#blockW2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    font-size: 7vh;
    transition: background-color 500ms ease;
}

#blockW2:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#blockB2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: black;
    color: white;
    font-size: 5vh;
    transition: background-color 500ms ease;
}

#blockB2:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#blockB3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    color: white;
    font-size: 4vh;
    transition: background-color 500ms ease;
}

#blockB3:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#plato {
    padding: 0px;
    background-color: black;
}

#plato img {
    width: 100%;
}